body {
  background: #f3f3f3;
}

img {
  display: block;
  border: 0;
}

a {
  color: lightgray;
}

p {
  text-align: center;
  font-family: cursive;
}

.App {
  text-align: center;
}

.App-header {
  background-color: lightgrey;
  height: 90px;
  padding: 30px;
  color: black;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 2rem;
  font-family: cursive;
}

.containerDrink {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  border-top: 50px;
  /* flex-direction: row; */
}

.drinkButtons {
  display: flex;
  border: solid 2px lightgray;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.drinkBox {
  flex: 1;
  width: 400px;
  height: 600px;
  text-align: center;
  margin: 0 -5px;
  justify-content: center;
  box-shadow: 0px 0px 7px 3px gray;
  margin: 25px auto;
  padding-bottom: 10px;
}

.drinkBoxImg {
  width: 400px;
  height: 400px;
  display: flex;
}

h5 {
  margin-top: 2px;
  font-size: 16px;
}

.drinkBox {
  padding-top: 10%;
  padding-bottom: 10%;
}

.drinkSubtitle {
  width: 270px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.formInput {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
}

.formButton {
  border: solid 2px #2c3e50;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50;
}

.activeDrink {
  margin: 0 auto;
  display: block;
  align-content: center;
  justify-content: center;
}

.activeDrinkImg {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.activeDrinkTitle {
  color: #5b6d7e;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1rem 0;
  font-family: cursive;
}

.activeDrinkButton {
  border: solid 2px #6a66d7;
  background: transparent;
  display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: cursive;
}

.activeDrinkContainer {
  flex: 1 0 75%;
}
