body {
  background: #f3f3f3;
}

img {
  height: 220px;
}

a {
  color: lightgray;
}

p {
  text-align: center;
  font-family: cursive;
}

/* button:focus {
  outline: none;
} */

.App {
  text-align: center;
}

.App-header {
  background-color: lightgrey;
  height: 90px;
  padding: 30px;
  color: black;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 2rem;
  font-family: cursive;
}

.drinkButtons {
  border: solid 2px lightgray;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.drinkBox {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 10px;
  text-align: left;
  overflow: hidden;
}

.drinkText {
  margin-left: 15px;
  font-family: cursive;
}

.drinkTitle {
  color: #5b6d7e;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.drinkSubtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #6a66d7;
  /* font-family: cursive; */
}

.formInput {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
  /* font-family: cursive; */
}

.formButton {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

.activeDrink {
  margin: 0 auto;
  align-content: center;
  justify-content: center;
}

.activeDrinkImg {
  height: 450px;
  display: block;
  margin: 0 auto;
}

.activeDrinkTitle {
  color: #5b6d7e;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 1rem 0;
  font-family: cursive;
}

.activeDrinkButton {
  border: solid 2px #6a66d7;
  background: transparent;
  display: block;
  max-width: 300px;
  margin: auto;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: cursive;
}
