.Header {
  border-bottom: 1px solid black;
}
.Header nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1048px;
  padding: 10px 25px;
}
.Header nav a {
  color: black;
  display: inline-block;
  line-height: 1;
  padding: 5px 15px;
  text-decoration: none;
}
.authButton{
  width: 300;
  border-radius : 2;
  height: 50;
  color: pink;

}